@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap');

@font-face {
	font-family: 'SkyFall Done Regular';
	font-style: normal;
	font-weight: normal;
	src: local('SkyFall Done Regular'), url('../font/skyfall_done.woff') format('woff');
}

:root {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(120, 125, 131, 0.6));
	color: #511F1C;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	color: #511C1C;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	overflow: hidden;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background: url(../images/barrel.png) no-repeat center / cover;
}

.outer-container {
	width: 600px;
	max-width: 90%;
	position: fixed;
	margin: auto;
	text-align: center;
	padding: 20px;
}

#controls {
	visibility: visible;
}

h1 {
	color: #000;
	font-family: 'SkyFall Done Regular';
	font-size: 3rem;
}

h2 {
	font-family: 'SkyFall Done Regular';
	font-size: 1.5rem;
}

#logo {
	text-shadow: 1px 1px 1px #FFF, 0 0 25px #FFF, 0 0 5px #FFF;
}

.button {
	cursor: pointer;
	color: #511F1C;
	background-color: #FFF;
	border: 2px solid #A88D64;
	font-family: inherit;
	font-size: 1em;
	padding: 15px;
	margin: 5px 0;
	border-radius: 10px;
	width: 90%;
}

@media (hover: hover) {
	button:hover {
		color: #FFF;
		background-color: #A88D64;
		border: 2px solid #FFF;
		box-shadow: 0 0.2rem 1rem 0 rgba(255, 255, 255, 0.6);
		transition: transform 100ms;
		transform: scale(1.01);
	}
}

.button-start {
	background-color: #FFF;
	font-family: 'SkyFall Done Regular';
	font-size: 2rem;
	font-weight: bold;
	padding: 20px;
	margin: 10px auto;
	width: auto;
	border: 2px solid #787D83;
	display: block;
}

.button-start:hover {
	color: #51301C;
	background-color: #FFD700;
	font-weight: bold;
	border: 2px solid #787D83;
}

#rules {
	font-family: 'SkyFall Done Regular';
	background-color: #FFF;
	font-size: 1.25rem;
	text-align: center;
	font-weight: bold;
	padding: 20px;
	margin: 10px auto;
	width: 100%;
	border: 2px solid #787D83;
	border-radius: 10px;
	box-shadow: 0 0.2rem 1rem 0 rgba(255, 255, 255, 0.6);
}

#rules > ul {
	list-style-position: outside;
	list-style-image: url('../images/bullet.png');
}

li {
	margin-bottom: 1.25rem;
}

#game {
	width: 90%;
	margin: 0 auto;
}

#question {
	width: 100%;
	font-size: 1.25rem;
	font-weight: bold;
	color: #FFF;
	background-color: #A88D64;
	box-shadow: 0 0.2rem 1rem 0 rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 15px;
}

.correct,
.correct:hover {
	color: #FFF;
	border-color: #0F0;
	background-color: #00AF00;
	box-shadow: 0 0.2rem 1rem 0 rgba(255, 255, 255, 0.6);
}

.incorrect,
.incorrect:hover {
	color: #FFF;
	border-color: #ff0000;
	background-color: #a00;
	box-shadow: 0 0.2rem 1rem 0 rgba(255, 255, 255, 0.6);
}

#endgame {
	width: 100%;
	background-color: rgb(211, 211, 211);
	padding: 10px;
	border-radius: 1rem;
  box-shadow: 0 0.2rem 1rem 0 rgba(255, 255, 255, 0.6);
}

.quiz-result {
	color: #000;
	font-size: 3rem;
}

.max-score {
  color: #080;
}

.hide {
	display: none;
}

.interface {
	display: flex;
	justify-content: space-between;
	color: #FFF;
	margin: 0;
	padding: 0;
}

.interface-icons {
	color: #FFD700;
	font-size: 1.5rem;
	padding: 10px;
	margin-bottom: 10px;
}

.interface-main-text {
	font-family: 'Merriweather', serif;
	font-size: 2rem;
	margin: 1rem 0;
}

.progress-bar-outer {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	background-color: #787D83;
	box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.3);
	border: 1px solid #FFF;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.progress-bar-inner {
	width: 0%;
	height: 30px;
	background: linear-gradient(90deg, rgba(255, 215, 0, 0.7) 70%, rgba(255, 215, 0, 0.2) 100%);
	border-radius: 1rem;
	transition-duration: 500ms;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #000;
	height: 50px;
	color: #FFF;
}

.social-icons {
	color: #FFF;
	font-size: 2rem;
	padding: 10px;
	margin-bottom: 10px;
}

.social-icons:hover {
	color: #FFD700;
}

/* Small devices, phones in portrait mode 576px*/
@media (max-width: 575.98px) {

	.outer-container {
		width: 100%;
    border: 1px solid limegreen;
    padding: 0px;
	}

	.progress-bar-outer {
		width: 90%;
		margin: 0 auto;
	}

	h1 {
		color: #000;
		font-family: 'SkyFall Done Regular';
		font-size: 1.75rem;
	}

	h2 {
		font-family: 'SkyFall Done Regular';
		font-size: 1rem;
	}

	#rules {
		width: 90%;
		font-size: 1rem;
	}

	.button-start {
		font-size: 1.25rem;
	}

  .button {
    font-size: 1rem;
    padding: 15px;
  }

	#question {
    font-size: 1rem;
    width: 100%;
  }

	.interface-icons {
		font-size: 1rem;
		margin-bottom: 5px;
	}

	.interface-icons,
	.interface-main-text {
		margin: 10px;
	}

	.endgame-image {
		width: 50%;
		height: auto;
  }

  #playAgain {
    font-size: 1rem;
}
}

/* Tablets, up to 768px */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  
  #game {
    width: 80%; 
  }

  h1 {
		color: #000;
		font-family: 'SkyFall Done Regular';
		font-size: 1.75rem;
	}

	h2 {
		font-family: 'SkyFall Done Regular';
		font-size: 1rem;
	}

	#rules {
		width: 90%;
		font-size: 1rem;
	}

  .interface-icons,
	.interface-main-text {
		margin: 5px;
	}

  .button {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

	.button-start {
		font-size: 1rem;
	}

  .endgame-image {
    width: 40%;
    height: auto;
  }

  #endgame {
    width: 80%;
    margin: 0 auto;
  }
}

/* Medium devices (tablets, bigger than 768 px but less than 992px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #game {
    width: 80%; 
  }

  h1 {
		color: #000;
		font-family: 'SkyFall Done Regular';
		font-size: 1.75rem;
	}

	h2 {
		font-family: 'SkyFall Done Regular';
		font-size: 1rem;
	}

	#rules {
		width: 90%;
		font-size: 1rem;
	}

  .button {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

	.button-start {
		font-size: 1rem;
	}

  .endgame-image {
    width: 40%;
    height: auto;
  }

  #endgame {
    width: 80%;
    margin: 0 auto;
  }
}