@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap');

@font-face {
  font-family: 'SkyFall Done Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SkyFall Done Regular'), url('../font/skyfall_done.woff') format('woff');
}

:root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif; 
  font-weight: 300;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: url(../images/barrel.png) no-repeat center / cover;
}

.outer-container {
  min-width: 600px;
  max-width: 600px;
  position: fixed;
  margin: auto;
  text-align: center;
  padding: 20px;
}

#controls {
 display: visible;
}

h1 {
  font-family: 'SkyFall Done Regular';
  font-size: 4rem;
}

.button {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #fff;
  font-family: inherit;
  font-size: 1em;
  padding: 15px;
  margin: 5px 0;
  border-radius: 10px;
  width: 100%;
}

.button:hover {
  border: 2px solid #000;
  box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.6);
  transition: transform 130ms;
  transform: scale(1.01);
}

.button-start {
  background-color: #fff;
  font-family: 'SkyFall Done Regular';
  font-size: 2em;
  font-weight: bold;
  padding: 20px;
  margin: 0 auto;
  width: auto;
  border: 2px solid #000;
}

.button-start:hover {
  background-color: #fff;
  font-size: 2em;
  font-weight: bold;
  border: 2px solid #000;
}

#game {
  width: 100%;
}

#question {
  width: 100%;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.interface {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 0;
  padding: 0;
}

.interface-prefix {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  margin: 0;
  
}

.interface-main-text {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  margin: 1rem 0;
}

.progress-bar-outer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: inherit;
  box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.progress-bar-inner {
  width: 10%;
  height: 30px;
  background-color: rgb(0, 196, 0);
  border-radius: 1rem;
  transition-duration: 500ms;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #000;
  height: 50px;
  color: #FFF;
}

.social-icons {
  color:#FFF;
  font-size: 2em;
  padding: 10px;
  margin-bottom: 10px;
}